*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  body {
    background-color: #ff0000;
    color: #1bff41;
  }
} 

.buttons-wrapper { 
  position: absolute; 
  padding: 0rem;
}

.content {
  position: bottom; 
  width: 100%;
  height: 100vh;
  background: black;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./static/img1.jpg)
}

.three_bg {
  position: bottom;
  width: 100%;
  height: 100vh;
  background: #010044;
  color: #fff;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;  
}

button {
  color: rgb(187, 187, 187);
  display: block;
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: none;
  text-align: center;  
}

button:last-child {
    margin-bottom: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  a:focus button {
    outline: none;
    box-shadow: 0 0 0 2px lightblue;
  }
  
  button:hover {
    color: rgb(65, 255, 90);
  }

